body {
  background-color: #1A1A1A;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

p, h2, h5, ul {
  padding: 0 15px;
}

code {
  background-color: #444444;
  color: #00FF00;
  padding: 2px 5px;
  border-radius: 3px;
}


